<component name="ArtifactManager">
  <artifact type="war" build-on-make="true" name="spring-jquery-ajax-post:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring-jquery-ajax-post.war">
      <element id="artifact" artifact-name="spring-jquery-ajax-post:war exploded" />
    </root>
  </artifact>
</component>